table,
td {
  background-color: #ffffff;
  border: 1px solid #E6EAED;
 /* border: 2px solid #000000;*/
  border-collapse: collapse;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: auto, auto;
}
thead {
  border: 0px;
  position: sticky;
  right: 0px;top: -1px;
  background-color: #ffffff;
}
td{
text-align: center;
height: 40px;
  
 

}
table {
  width: 100%;
}
.decoration-table{
  opacity: 0.5;
}
.skrol{
  width: 96%;
  margin-right: 2%;
  margin-left: 2%;
height: 35vw;
overflow: auto;
margin-bottom: 18px; 
margin-top: 30px;
border: 1px solid #E6EAED;

}

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background: #BFCAD0;
}
::-webkit-scrollbar-thumb{
  background: #0073A4;
}
.redaction {
padding: 0;
margin: 0;
width: 18px;
height: 18px;
  background-color: #ffffff;
}